:root {
  --white: #fcfdfeff;
  --green-blue-crayola: #3588c4ff;
  --french-blue: #1076bcff;
  --alice-blue: #e2ecf5ff;
  --beau-blue: #c9ddeeff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 90%;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50%;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: var(--french-blue);
  font-size: 1.3rem;
  padding: 1rem;
  display: block;
}

.navbar-links li a:hover {
  font-size: 1.5rem;
  color: #ffc65c;
}

.toggle-button {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 2px;
  width: 100%;
  background-color: var(--french-blue);
  border-radius: 10px;
}
.title {
  margin: 1.3em;
}

.title {
  color: darkslategrey;
  font-size: 2em;
  margin-bottom: 1em;
  text-align: center;
}
/* 
.rowHeaderFooter {
  display: flex;
  width: 90%;
  margin: auto;
  background-color: var(--french-blue);
  color: var(--white);
  padding: 2em 1em;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.row-odd {
  display: flex;
  width: 90%;
  margin: auto;
  background-color: var(--white);
  padding: 2em 1em;
}
.col-1 {
  flex-grow: 4;
}
.col-2 {
  flex-grow: 1;
  text-align: center;
}
.col-3 {
  flex-grow: 1;
  text-align: center;
}
.col-4 {
  flex-grow: 1;
  text-align: center;
} */

.grid-container {
  margin: 2em;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr;
  grid-auto-rows: 4em;
  padding: 1em 1em;
}

.rowHeaderFooter {
  background-color: var(--french-blue);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1em 1em; */
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
}

.row-odd {
  background-color: var(--white);
  color: rgb(20, 22, 24);
  /* padding: 1em 1em; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row-odd:hover {
  background-color: lightgoldenrodyellow;
}

.row-even {
  background-color: var(--beau-blue);
  color: rgb(20, 22, 24);
  /* padding: 1em 1em; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-even:hover {
  background-color: lightgoldenrodyellow;
}

.header-column {
  justify-content: flex-start;
  padding: 1.15em 1em;
  font-weight: 600;
}
/* .center-text {
  text-align: center;
} */
input {
  width: 40%;
  height: 2.5em;
  display: block;
  /* margin: auto; */
}
@media all and (max-width: 480px) {
  .navbar {
    flex-direction: column;
  }

  .logo {
    width: 100%;
    position: absolute;
    left: -60px;
    top: 0px;
  }

  .menu {
    display: block;
    position: absolute;
    right: 30px;
    top: 50px;
  }

  .nav-list {
    display: block;
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    display: none;
  }

  .list-item {
    display: block;
    border-top: 1px solid white;
    padding: 20px 10px;
    margin-top: 100px;
  }

  .title {
    margin: 120px 20px 20px 20px;
    font-size: 20px;
  }
}

.active {
  display: block;
}

/* ! Start Mobile CSS Styling */
@media (max-width: 800px) {
  .logo {
    width: 80%;
    padding: 0.4rem 2rem;
    margin-left: 3rem;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    margin: auto;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 0.7rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  .title {
    font-size: 1.2em;
  }
}
