:root {
  --white: #fcfdfeff;
  --green-blue-crayola: #3588c4ff;
  --french-blue: #1076bcff;
  --alice-blue: #e2ecf5ff;
  --beau-blue: #c9ddeeff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 90%;
  margin: auto;
}

.navbar {
  width: 100%;
  /* background-color: var(--alice-blue); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
}

.logo {
  height: 120px;
}

.nav-list {
  display: flex;
  flex-basis: 50%;
  justify-content: space-around;
  list-style-type: none;
}

.list-item {
  font-size: 18px;
}

.nav-list a {
  text-decoration: none;
  transition: 0.2s ease;
}

.nav-list a:hover {
  color: goldenrod;
  font-size: 24px;
  transition: 0.2s ease;
}

.menu {
  display: none;
}

.menu-line {
  width: 20px;
  height: 3px;
  background-color: var(--french-blue);
  margin-bottom: 5px;
}

.title {
  margin: 1.3em;
}

.title {
  color: darkslategrey;
  font-size: 2em;
  margin-bottom: 1em;
  text-align: center;
}

.description {
  font-weight: 550;
}

.logo {
  width: 20%;
}

table {
  width: 100%;
}

.col-1 {
  width: 64%;
  text-align: left;
}
.col-2 {
  width: 12%;
}
.col-3 {
  width: 12%;
}
.col-4 {
  width: 12%;
}

.values {
  text-align: center;
}

th {
  background-color: var(--french-blue);
  color: var(--white);
  padding: 1em 1.1em;
  font-size: 20px;
  border-radius: 8px;
}
tr {
  height: 2.1em;
}
tr:hover {
  background-color: lightgoldenrodyellow;
}
td {
  padding: 0.5em 1em;
  font-size: 18px;
}
input[type='text'],
select {
  width: 100%;
  padding: 8px 10px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid var(--alice-blue);
  border-radius: 6px;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.1em;
}

#buttons {
  width: 30%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  /* gap: 2em; */
}

button {
  margin-top: 1rem;
  /* display: block; */
  width: 30%;
  background-color: var(--green-blue-crayola);
  color: var(--white);
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button:active {
  background-color: var(--green-blue-crayola);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#printButton:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.required {
  background-color: #ffc65c;
  color: var(--white);
}

.row-background {
  background-color: var(--beau-blue);
}

.note {
  text-align: center;
  font-style: oblique;
  font-weight: 600;
  color: #ffc65c;
  font-size: 1.1em;
  margin-top: 1em;
}
